<div class="container">
  <div>
    <h2>Bus Details</h2>
    <p>
      <label>Line: </label>
      <input #busLine *ngIf="isUserAdmin === 'true'" [(ngModel)]="bus.line" placeholder="bus line"/>
      <span  #notAdmin *ngIf="!(isUserAdmin === 'true')">{{bus.line}}</span>
    </p>
    <p>
      <label>Route: </label>
      <input #busRoute *ngIf="isUserAdmin === 'true'" [(ngModel)]="bus.route" placeholder="bus route"/>
      <span  #notAdmin *ngIf="!(isUserAdmin === 'true')">{{bus.route}}</span>
    </p>
    <button *ngIf="isUserAdmin === 'true'" (click)="add()">Add</button>
    <button *ngIf="isUserAdmin === 'true'" (click)="update()">Update</button>
    <button *ngIf="isUserAdmin === 'true'" (click)="delete()">Delete</button>
  </div>
</div>
